*{
  font-family: 'Roboto';
}
.code-box-demo {
  text-align: center;
}

.ant-layout-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}
.ant-layout-sider {
  color: #fff;
}


.ant-layout-sider {
  position: relative;
  min-width: 0;
  background: #ffffff !important;
  transition: all 0.2s;
}
.ant-layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  background: inherit !important;
}
.ant-layout-header {
  
  padding: 0 10%;
 
}
.ruka{
  height: 70vh;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: 100% 50%!important;
  padding: 0 10%;
  padding-bottom: 60px;
  background-size: auto 60%!important;
  
}
.moveRuka{
  transition: 3s linear;
  background-position: 200% 50%!important;
}



.flexie{
 max-width: 468px;
 background: #F28D44;
border-radius: 16px;
border:none!important;

height: 273px;
}
.flexText{
 float: left;
}
.titleHeader{
  margin-bottom: 0!important;
  color:#ffffff!important;
  font-weight: 700!important;
}
.titleDescr{
  margin-bottom: 0!important;
  color:#ffffffda!important;
  font-weight: 700!important;
  font-size: 2em;
}
.imgRule{
  width: auto;
  height: 100px;
  margin: auto;
}
.cardShop{
  height: 200px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
///Header
.buttonHeader {
  background: rgb(246, 246, 246);
  border: 1px solid rgb(242, 141, 68);
  box-sizing: border-box;
  box-shadow: rgb(0 0 0 / 2%) 4px 4px 0px;
  border-radius: 20px;
  font-family: 'Century Gothic';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
}
.logoText{
  font-family: 'Century Gothic';
font-style: normal;
font-weight: 400;
font-size: 17.4102px;
line-height: 21px;
}
.header{
  background: inherit !important;
height: 10em;



}
.flexLogo{
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
}
.textForm{
  font-family: 'Century Gothic';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 32px;

color: #F6F6F6;
}
.form{
  margin-top: 12em;

  display: flex;
  align-items: center;
    justify-content: center;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
.selectorForm{
  background: #F6F6F6;
box-shadow: 3.29091px 3.29091px 3.29091px rgba(191, 97, 29, 0.5);
border-radius: 16.4545px!important;

}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
 
  
  border: 1px solid #d9d9d9;
  border-radius: 16px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: #F6F6F6;
  box-shadow: 3.29091px 3.29091px 3.29091px rgba(191, 97, 29, 0.5);
  border-radius: 16.4545px!important;
}
.titleMain{
  font-family: 'Impact';
font-style: normal;
font-weight: 400;
font-size: calc((100vw - 10rem)/(80 - 30) * (1.5 - 1) + 2rem);
line-height: 59px;
position: absolute;
// visibility:hidden;
/* identical to box height */


color: #F28D44;

}
.titleSecond{
  font-family: 'Century Gothic';
font-style: normal;
font-weight: 400;
font-size: calc((100vw - 10rem)/(80 - 30) * (1.5 - 1) + 2rem);
line-height: 59px;
position: absolute;
color: #000000;

}
.wrapMainTitle{
  margin-top: 40px;
  margin-bottom: 100px;
  }
.wrapSecondTitle{
max-width: 440px;
margin-bottom: 29px;
margin-top: 40px;
margin-bottom: 100px;
}

.graph-enter {
  opacity: 0;
  transform: scale(0.9);
}
.graph-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 3000ms, transform 3000ms;
  
}
.graph-exit {
  opacity: 1;
}
.graph-exit-active {
  opacity: 0;
  transition: opacity 2000ms; 
}
.formTest{
  width: 80vw;
  max-width: 100%;
  max-height: 100px;
  opacity: 1;
  transform: translateY(-10em);
  transition: opacity 3000ms, transform 3000ms;
  transition: 3s linear;

}
.titleTest{
  opacity: 0;
  transform: translateX(-600px);
  transition: opacity 3000ms, transform 3000ms;
  
 
}
.testLet{
  display: none;
  transition: 3s linear;
}
.btnForm{
  border: 1px solid #F28D44;
box-sizing: border-box;
box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.016);
border-radius: 20px;
}
.ButtonFoxy {
  border-radius: 20px;
  background: linear-gradient(89.78deg, #f6734a 2.58%, #e1c08d 99.81%) !important;
  width: 7em;
  color:#ffffff;

line-height: 22px;
  font-weight: 400;
}
.WrapperMain{
  width: 90vw;
  height: 30vh;
  position:relative;
padding-bottom:50px;

  background: linear-gradient(90.05deg, #4B9BF4 29.18%, rgba(75, 185, 244, 0.57) 95.91%);
border-radius: 40px;
margin: 0 auto;

}
.fontFoxy{
  font-style: normal;
font-weight: 800;
font-size: 40px;
}
.borderSelect{
  
  border: 2px solid #4C9CF5;
border-radius: 17px;
box-shadow:none!important;
background: #ffffff!important;
}
.WrapperSearch{
  position: absolute;
  bottom:0;
}